@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MvcUniversity</h1>
    <p>Campus management done right.</p>
    <a href="https://ensc.bodreaux-inp.fr/"><img scr="image/vie_de_campus.jpg" /></a>
</div>
