@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MvcUniversity</h1>
    <p>Campus management done right.</p>
    <img src="https://ensc.bordeaux-inp.fr/sites/default/files/styles/image_droite/public/upload/page-edito/ensc/img/vie_de_campus.jpg?itok=yH-EjztA" />
</div>
